<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要获取您的位置信息，以提供WiFi BSSID获取及定位相关服务</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要蓝牙权限以搜索并连接智能设备</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>需要蓝牙权限以搜索并连接智能设备，即使应用在后台也能保持连接</string>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.example.enjoyarkuix</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
