<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.enjoyarkuix">
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules"
                 android:extractNativeLibs="true" android:fullBackupContent="@xml/backup_rules"
                 android:icon="@drawable/app_icon" android:label="@string/app_name" android:name=".MyApplication"
                 android:supportsRtl="true" android:theme="@style/Theme.EnjoyArkUIX" tools:targetApi="31">
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".EntryEntryAbilityActivity" android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing |stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".PlatformBridgePlatformBridgeAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".PlatformViewPlatformViewAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".DynamizationJumpActivity" android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".stagedynamic.DynamicHapAbility"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".stagedynamic.DynamicHapTwoActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".stagedynamic.DynamicHapOneActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".FragmentEntryActivity" android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".stagefragment.FragmentManagerActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".stagefragment.ViewPagerFragmentActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".PlatformViewJumpActivity" android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing |stateHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".TestTestAbilityActivity" android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".VersionVersionAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".ModifierModifierAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".VideoPlayDemoVideoPlayDemoAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".FileApiFileApiAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".DrawingDrawingAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".WindowWindowAbilityActivity" android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".RDBDemoRDBDemoAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".UDMFDemoUDMFDemoAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".PreferencesDemoPreferencesDemoAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
        <activity
                android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout|uiMode|smallestScreenSize|density"
                android:exported="true" android:name=".RequestDemoRequestDemoAbilityActivity"
                android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing |stateAlwaysHidden"/>
    </application>
</manifest>