/node_modules
**/node_modules
/local.properties
/.idea
**/.idea
**/.gradle
**/build
**/.hvigor
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/package-lock.json
/package-lock.json
/build-profile.json5
**/android/app/src/main/assets
/ohos/oh_modules
/ohos/oh-package-lock.json5
/ohos/local.properties
/android/local.properties
/android/gradle

